<h1 id="brand">{{appname}}</h1>

<a id="simple-menu" href="#sidr">Toggle menu</a>
<div id="sidr">
    <li *ngFor="let playlist of playlists" >
        <a routerLink="/channel">{{playlist.genre}}</a>
    </li>
</div>

<router-outlet></router-outlet>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <a class="navbar-brand" href="#">{{appname}}</a>
        <p class="navbar-text pull-right">
            <a href="#" class="navbar-link">Powered by <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Flody-saint-germain&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe></a>
        </p>
    </nav>
</div>