<h1 id="brand">Dyloradio</h1>

<a routerLink="/channel/hiphop">Hip Hop</a>
<a routerLink="/channel/dancehall">Dancehall</a>
<a routerLink="/channel/chill">Chill</a>
<a routerLink="/channel/kompa">Kompa</a>

<router-outlet></router-outlet>

<nav class="ink-navigation" role="navigation">
    <ul class="menu horizontal black">
        <li class="heading"><a href="#">DyloRadio</a></li>
        <li><a href="#">Powered by <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Flody-saint-germain&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe></a></li>
    </ul>
</nav>